.header
{
  height: 25%;
  margin-top: 10px;
  padding-left: 10px;
  padding-bottom: 3px;
  width: 100%;
}

.header__content
{
  font-family: serif;
  font-size: 2.4em;
  text-transform: uppercase;
  text-align: left; 
  color: lightskyblue;
}

.contact
{
  color: #ddd;
  text-transform: lowercase;
  letter-spacing: 1px;
  text-align: right;
  padding-top: 5px;
}

#star
{
  color: gold;
}

#time
{
  color: green;
}
#moves
{
  color: green;
}
.background
{
  background-color: #222;

  user-select: none;
}

.content
{
  width: 100%;
}

#canvas
{
  display: flex;
  flex-wrap: wrap;
}

.controls
{
  font-family: serif;
  font-size: 1.4em;
  text-transform: uppercase;
  text-align: left; 
  color: lightskyblue;
  padding-left: 10px;
  line-height: 1.4em;
  display: flex;
  flex-direction: column;
}

#reset:hover
{
  color:red;
  cursor: pointer;
}

#reset
{
  width: 75px;
  background-color: lightgrey;
  color: black;
  border-radius: 5%;
  text-align: center;
}

.card
{
  height: 110px;
  width: 80px;
  font-size: 1em;
  text-align: center;
  color: lightblue;
}

.card__content
{
  height: 80%;
  width: 80%;
  background-color: lightblue;
  margin: auto;
  border: 3px solid lightblue;
  border-radius: 5%;
  font-size: 4.5em;
  cursor: pointer;
}

.card__content:hover
{
  border: 3px solid orange;
  border-radius: 5%;
  cursor: pointer;
}