.header
{
  height: 25%;
  margin-top: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
  width: 100%;
}

.header__content
{
  font-size: 2em;
  text-transform: uppercase;
  text-align: left; 
  color: lightskyblue;
}

.contact
{
  color: #ddd;
  text-transform: lowercase;
  letter-spacing: 1px;
}

.background
{
  background-color: #222;
}

.content
{
  width: 100%;
}
#canvas
{
  display: flex;
  flex-wrap: wrap;
}

.card
{
  height: 220px;
  width: 160px;
  border: 3px solid aqua;
  border-radius: 5%;
  font-size: 2em;
  text-align: center;
  color: yellow;
}

.card__content
{
  height: 80%;
  width: 80%;
  background-color: orange;
  margin: auto;
  border: 3px solid red;
  border-radius: 5%;
  font-size: 4.5em;
  cursor: pointer;
}

.card__content:hover
{
  height: 80%;
  width: 80%;
  background-color: grey;
  margin: auto;
  border: 3px solid red;
  border-radius: 5%;
  font-size: 4.5em;
  cursor: pointer;
}